$tablet: 1040px;
$mobile: 640px;

$background: #46312D;
$dark:       #211D1E;
$accent:     #794A25;
$lightText:  #E6A759;
$whiteText:  #DFDFDF;
$inputText:  #E4DED1;
$black:      #020101;

$pilltoverZaun: #D96A24;
$shadowIsles:   #11856D;
$demacia:       #D8C9B3;
$freljord:      #4D92E9;
$ionia:         #E966A1;
$noxus:         #B22828;

$sitePadding:    10px;
$defaultSpacing: 20px;
$headerHeight:   1px;
$cardWidth:      345px;

$defaultFont: 'Roboto', sans-serif;
