@import 'styles/config';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $headerHeight;
  padding: 0 $defaultSpacing;
  border-bottom: 2px solid $accent;
}
