@import 'styles/config';

.decks {
  display: flex;
  justify-content: center;
}

.divider {
  margin: auto 50px;
  font-size: 2.5rem;
  color: $accent;
  padding-top: 39px;
}

.icon {
  cursor: pointer;
}
