@import 'styles/config';

.title {
  margin: 10px 0;
}

.deck {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $cardWidth;
}

.card:not(:last-child) {
  margin-bottom: 15px;
}
